# Control Structures
- Conditional Statements
- if, else, elif
- Repeated Execution
- for, foreach, inline forloop, while
- Functions

- Expression --> This involves any of all operators and operands
- Statement --> If the expression is assigned to a variable or default constructs (conditions, loops, function, classes, context)
- For the default constructs Code block
- All these default constructs will have code blocks
- Code block --> Is a collection of statements

In [1]:
65

65

In [9]:
a = 5

In [7]:
with open('sample.txt') as f:
    data = f.read()
    print(data)
 # sdjcbnsd
 # djhdfbsdhcb

In [3]:
a/2

2.5

In [7]:
a % 2

1

In [8]:
a // 2

2

In [11]:
if a % 2 == 0:
    print("Even")
    print("sdfhjvbsdghfvsd")
else:
    print("Odd")

Odd

In [13]:
#given a number -,+,0

In [1]:
a = 5

In [15]:
if a > 0:
    print(f"a is +ve")
elif a < 0:
    print(f"a is -ve")
else:
    print(f"a is 0")

a is +ve

In [2]:
if a > 0:
    print(f"a is +ve")
elif a < 0:
    print(f"a is -ve")
elif a == 0:
    print(f"a is 0")
print("This will execute for sure")

a is +ve
This will execute for sure

In [ ]:
if <condition>:
    if <condition>:
        pass
    elif <condition>:
        pass
    else:
        pass
else:
    if <condition>:
        pass
    else:
        pass

# For Loops:
- Normal for loop
- For Each Loop
- for - else
- for-loops are inefficient
- the number of iterations in the forloop --> that many no of CPU clocks will be used sequenctially
- Iterative flow
- One task should be done iteratively
- if this iterative process involves each element in the iterable object
- 2 types of iterative process
- 1. You know the no of iterations --> using no of iterations we can do the task
  2. You know the no of iterations --> using range of iteratiosn we can use a collection do the task
  3. You don't know the no of iterations but you have an iterable object so that you can do the task using each element of the iterable object --> for-each loop
- The range of iterations starting from 0
- range() --> [start_no, end_no)
- range() --> default you can give only end_no
- range() --> [start, end, step)
- for-else --> in for loop if we didn't break the for loop, else condition after the for loop will be executed all the time
- for-else --> in for loop if we have break and it got trigger, then else will not execute
- inline-for loop --> one line for-loop. This will be used to generate a list

In [9]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [12]:
for i in "tharunkumar":
    print(f"Iteration no '{i}': Hello World!")

Iteration no 't': Hello World!
Iteration no 'h': Hello World!
Iteration no 'a': Hello World!
Iteration no 'r': Hello World!
Iteration no 'u': Hello World!
Iteration no 'n': Hello World!
Iteration no 'k': Hello World!
Iteration no 'u': Hello World!
Iteration no 'm': Hello World!
Iteration no 'a': Hello World!
Iteration no 'r': Hello World!

In [13]:
for i in range(10):
    print(f"{i}: Hello World!")

0: Hello World!
1: Hello World!
2: Hello World!
3: Hello World!
4: Hello World!
5: Hello World!
6: Hello World!
7: Hello World!
8: Hello World!
9: Hello World!

In [19]:
students = ["Ramesh","Rakesh","Rajesh","Rama","Sita","Raju"]

In [23]:
for i in range(len(students)):
    if students[i] == "Raju":
        print("Raju Found")
        break
else:
    print("Raju didn't found")

Raju Found

In [20]:
if students[0] == "Raju":
    print("Yes Found in step 1")
elif students[1] == "Raju":
    print("Yes Found in step 2")
elif students[2] == "Raju":
    print("Yes Found in step 3")

Yes Found in step 3

In [21]:
## for-each
for ele in students:
    if ele == "Raju":
        print("Raju Found")
        break
else:
    print("Raju not Found")

Raju Found

In [24]:
## find an element and expose the index of the element

In [49]:
students.append("Ramesh")

In [50]:
students

['Ramesh', 'Rakesh', 'Rajesh', 'Rama', 'Sita', 'Raju', 'Ramesh']

# Time Complexity
- Time taken by the computer to compute the logic
- CPU Clocks
- Any one for loops is determined by 2 ways --> Best Time Compexity Omega, Worst Time Complexity Big O
- The total no of iterations --> n
- Worst Case --> O(n)
- Time Complexity of a for loop with m no of iterations and a for loop inside the for loop with n no of iterations. Then time complexity of the for loop is O(n**2)
- For 3 nested for loops we have O(n**3)

In [38]:
for student in students:
    if student == "Tharun":
        print("Ramesh Found")

In [41]:
## Early Stopping
for student in students:
    if student == "Tharun":
        print("Ramesh Found")
        break

In [46]:
## Count of given name in the list
count = 0
for student in students:
    if student == "Tharun":
        count = count + 1
print(f"Tharun found {count} time(s)")

Tharun found 0 time(s)

In [51]:
count = 0
for student in students:
    if student == "Tharun":
        count += 1
print(f"Tharun found {count} time(s)")

Tharun found 0 time(s)

In [56]:
## Index of an element which occured second time
count = 0
for i in range(len(students)):
    if students[i] == "Tharun":
        count += 1
    if count == 2:
        print(f"Ramesh found second time at {i}")

In [40]:
for i in range(2):
    for j in range(2):
        for k in range(2):
            print(i,j,k)

0 0 0
0 0 1
0 1 0
0 1 1
1 0 0
1 0 1
1 1 0
1 1 1

In [58]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [60]:
scores = {'MATCH1': {'IND': {'KOHLI': 86, 'ROHITH': 83},
  'PAK': {'MALIK': 75, 'BABAR': 16}}}

In [67]:
## Dictionary items() --> will return list of tuples of key value pair

In [69]:
scores.items()

dict_items([('MATCH1', {'IND': {'KOHLI': 86, 'ROHITH': 83}, 'PAK': {'MALIK': 75, 'BABAR': 16}})])

In [70]:
for key,value in scores.items():
    print(key,value)

MATCH1 {'IND': {'KOHLI': 86, 'ROHITH': 83}, 'PAK': {'MALIK': 75, 'BABAR': 16}}

In [71]:
import string

In [73]:
alphabet = string.ascii_lowercase

In [75]:
alphabet = list(alphabet)

In [76]:
alphabet

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [78]:
stoi = {s:i for i,s in enumerate(alphabet)}

In [79]:
itos = {i:s for i,s in stoi.items()}

In [ ]:
dummy = {i:s}

In [59]:
[students[i] for i in range(len(students))]

['Ramesh', 'Rakesh', 'Rajesh', 'Rama', 'Sita', 'Raju', 'Ramesh']

In [51]:
students

['Ramesh', 'Rakesh', 'Rajesh']

In [52]:
students[2]

'Rajesh'

In [54]:
for i in range(len(students)):
    if students[i] == "Raju":
        print(f"Raju found at {i}th index")

In [45]:
## will take a maximum number and it will return list of AP with d=1 from 0 to that maximum 
## will take a minimum number and a maximum number and it will return list of AP with d = 1 from minimum to maximum
## will take a minimum number and a maximum number and also d

In [47]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [49]:
list(range(2,10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [50]:
list(range(1,10,2))

[1, 3, 5, 7, 9]